<section class="search">
  <input type="text" id="searchBox"><button class="btn btn-outline-success" (click)="search()">Search</button>
</section>
<img [src]="profilePictureUrl" alt="Profile picture">
<section id="userInformation">
  <p [textContent]="this.displayName"></p>
  <p>Country: {{this.country}}</p>
</section>
<h2>Featured</h2>
<div id="featured" *ngFor="let song of featured">
  <section id="result">
    <img class="resultPicture" [src]="song.album.images[0].url" alt="Image">
    <div id="resultName">{{song.name}}</div>
  </section>
  <section class="playlistActionsSection">
    <button class="btn btn-outline-info playlistActionButton" (click)="getSongDetails(song.uri)"><i class="fa fa-info"></i></button>
    <button class="btn btn-outline-success playlistActionButton" (click)="addTrackToPlaylist(song.uri)"><i class="fa fa-plus"></i></button>
    <button class="btn btn-outline-danger playlistActionButton" (click)="deleteTrackFromPlaylist(song.uri)"><i class="fa fa-minus"></i></button>
  </section>
</div>
