nav {
  background-color: #2a2a2a;
}
nav button {
  margin-left: 10px;
}
.logo {
  width: 50px;
}
#movableDiv {
  float: right;
}
#likeButton {
  float: right;
}
#logoImageDrop{
  animation: logo-drop 2s forwards;
}

@keyframes logo-drop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}
#logoImageReturn{
  animation: logo-return 2s forwards;
}

@keyframes logo-return {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
