nav {
  background-color: #2a2a2a;
}
nav button {
  margin-left: 10px;
}
.logo {
  width: 50px;
}
#movableDiv {
  height: 100px;
  float: right;
}
#likeButton {
  float: right;
}
#logoImage{
  animation: button-scale 2s forwards;
}

@keyframes button-scale {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}
