#searchResults {
  display: flex;
  justify-content: left;
}
.result {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}
.resultPicture {
  width: 100px;
  height: 100px;
}
