<div id="featured" *ngFor="let song of playlistContent">
  <section id="result">
    <img class="resultPicture" [src]="song.album.images[0].url" alt="">
    <p [textContent]="song.name"></p>
  </section>
  <section class="playlistActionsSection">
    <button class="btn btn-outline-info playlistActionButton" (click)="getSongDetails(song.uri)"><i class="fa fa-info"></i></button>
    <button class="btn btn-outline-success playlistActionButton" (click)="addTrackToPlaylist(song.uri)"><i class="fa fa-plus"></i></button>
    <button class="btn btn-outline-danger playlistActionButton" (click)="deleteTrackFromPlaylist(song.uri)"><i class="fa fa-minus"></i></button>
    <p [textContent]="song.duration_min + ' min'"></p>
  </section>
</div>
