#searchResults, #featured {
  display: flex;
  justify-content: left;
}
#result {
  display: flex;
  justify-content: left;
}
.resultPicture {
  width: 100px;
  height: 100px;
}
.playlistActionButton {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.playlistActionsSection {
  margin-left: auto;
}
.playlistImage {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
